<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Itransition</a>
            <form  th:action="@{/search}" class="form-inline">
                <input class="form-control me-2" th:name="search" required="required" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <div align="rigth">
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout" th:href="@{/logout}">
                            <span class="navbar-link" aria-hidden="true"></span>
                            <a href="/profile" class="btn btn-outline-secondary btn-lg active" role="button" aria-pressed="true">My Profile</a>
                            <a href="/logout" class="btn btn-outline-secondary btn-lg active" role="button" aria-pressed="true">Logout</a>
                        </a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <span class="navbar-link" aria-hidden="true"></span>
                        <a href="/loginsocial" class="btn  btn-outline-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
                    </li>
                </div>
            </form>
        </div>
    </nav>
</div>




